{
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": false,
            "experimentalObjectRestSpread": true
        }
    },
    "env": {
        "browser": true,
        "commonjs": true
    },
    "rules": {
        "indent": [
            "error",
            4
        ]
    },
    "ignorePatterns": ["*.json"]
}